certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
decorator==5.2.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
idna==3.10
iniconfig==2.1.0
mirakuru==2.6.0
numpy==2.2.4
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
port-for==0.7.4
psutil==7.0.0
psycopg==3.2.9
psycopg2==2.9.10
psycopg2-binary==2.9.10
pytest==7.4.4
pytest-postgresql==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==0.15.0
pytz==2025.1
ratelim==0.1.6
requests==2.32.3
setuptools==75.8.2
six==1.17.0
tzdata==2025.1
urllib3==2.4.0
